@model IEnumerable<Payments.ViewModels.BankAccount.BankAccountUser>

@{
    ViewBag.Title = "Личный кабинет";
}

<h2>Счета</h2>

@Html.ActionLink("Создать счет", "CreateBankAccount", "BankAccount")

@foreach (var item in Model)
{
    <dl>
        <dd>
            @Html.DisplayFor(modelItem => item.Id)
        </dd>
        <dd>
            @Html.DisplayFor(modelItem => item.NumberCard)
        </dd>
        <dd>
            @Html.DisplayFor(modelItem => item.Name)
        </dd>
        <dd>
            @Html.DisplayFor(modelItem => item.Balance)
        </dd>
        <dd>
            @Html.RouteLink("Платежи", new { controller = "Payment", action = "PaymentData", id = item.Id })
        </dd>
    </dl>
}
