@model IEnumerable<Payments.ViewModels.BankAccount.BankAccountUserDataForAdmin>

@{
    ViewBag.Title = "BankAccountsDataForAdmin";
}

<h2>Банковские счета пользователя</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumberAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            @if (item.LockoutEnabled)
            {
                <td>
                    @Html.RouteLink("Разблокировать счет", new { controller = "BankAccount", action = "UnBlockBankAccount", id = item.Id })
                </td>
                if (item.RequestUnblock)
                {
                    <td>
                        Счет заблокирован. 
                        <span style="color: red;">Клиент сделал запрос, чтобы разблокировали его банковский счет</span>
                    </td>
                }
                else
                {
                    <td>
                        Счет заблокирован
                    </td>
                }
            }
            else
            {
                <td>
                    @Html.RouteLink("Заблокировать счет", new { controller = "BankAccount", action = "BlockBankAccount", id = item.Id })
                </td>
                <td></td>
            }
        </tr>
    }
</table>