@model IEnumerable<Payments.ViewModels.BankAccount.BankAccountSecurityModel>

@{
    ViewBag.Title = "Безопасность";
}

<h2>Счета</h2>

<table class="table">
    <tr>
        <th>
            Номер счета
        </th>
        <th>
            Номер карты
        </th>
        <th>
            Наименование счета
        </th>
        <th>
            Остаток средств
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (item.LockoutEnabled)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.NumberAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberCard)
                </td>
                <td></td>
                <td></td>
                <td>
                    Счет заблокирован
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.NumberAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberCard)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.RouteLink("Заблокировать счет", new { controller = "BankAccount", action = "BlockSelfBankAccount", id = item.Id })
                </td>
            }
        </tr>
    }
</table>