@model IEnumerable<Payments.ViewModels.Payment.PaymentBankAccount>

@{
    ViewBag.Title = "PaymentData";
}

<h2>Платежи</h2>
<p>
    @Html.RouteLink("Добавить платеж", new { controller = "Payment", action = "PreparePayment", id = ViewBag.BankAccountId })
</p>

<p>
    @Html.RouteLink("Пополнить счет другой карты", 
    new { controller = "Payment", action = "ReplenishBankAccount", id = ViewBag.BankAccountId })
</p>

<div>
    @Html.ActionLink("Отсортировать по номеру в порядке возрастания",
    "PaymentData", new { sortOrder = "Number" })
</div>
<div>
    @Html.ActionLink("Отсортировать по номеру в порядке убывания",
    "PaymentData", new { sortOrder = "Number_desc" })
</div>
<div>
    @Html.ActionLink("Отсортировать по дате в порядке возрастания (от старой к новой)",
    "PaymentData", new { sortOrder = "Date" })
</div>
<div>
    @Html.ActionLink("Отсортировать по дате в порядке убывания (от новой к старой)",
    "PaymentData", new { sortOrder = "Date_desc" })
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recipient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodeEgrpou)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodeIban)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Purpose)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodeEgrpou)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodeIban)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purpose)
            </td>
            @if (item.Status == "подготовленный")
            {
                <td>
                    @Html.RouteLink("Осуществить платеж", new { controller = "Payment", action = "MakePayment", id = item.Id })
                </td>
            }
        </tr>
    }

</table>
