@model Payments.ViewModels.Payment.PreparationPaymentModel

@{
    ViewBag.Title = "PrepareBankAccount";
}

<h2>Подготовить платеж</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <input type="hidden" value="@ViewBag.BankAccountId" name="BankAccountId" />
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Sum, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Sum, new
            {
                htmlAttributes = new
                {
                    @class = "form-control",
       placeholder = "Сумма"
                }
            })
            @Html.ValidationMessageFor(model => model.Sum, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Recipient, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Recipient, new
            {
                htmlAttributes = new
                {
                    @class = "form-control",
           placeholder = "Получатель"
                }
            })
            @Html.ValidationMessageFor(model => model.Recipient, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CodeEgrpou, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.CodeEgrpou, new
            {
                htmlAttributes = new
                {
                    @class = "form-control",
       placeholder = "Код ЕГРПОУ"
                }
            })
            @Html.ValidationMessageFor(model => model.CodeEgrpou, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CodeIban, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.CodeIban, new
            {
                htmlAttributes = new
                {
                    @class = "form-control",
       placeholder = "Код IBAN"
                }
            })
            @Html.ValidationMessageFor(model => model.CodeIban, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Purpose, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Purpose, new
            {
                htmlAttributes = new
                {
                    @class = "form-control",
       placeholder = "Назначение платежа"
                }
            })
            @Html.ValidationMessageFor(model => model.Purpose, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Подготовить платеж" class="btn btn-primary" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
