@model List<Payments.ViewModels.Payment.PreparedPayment>

@{
    ViewBag.Title = "PreparePaymentsData";
}

<h2>Подготовленные платежи</h2>

@using (Html.BeginForm("Pay", "Payment", FormMethod.Post))
{
    <table class="table">
        <tr>
            <th>
                Сумма платежа
            </th>
            <th>
                Получатель
            </th>
            <th>
                Код ЕГРПОУ
            </th>
            <th>
                Код IBAN
            </th>
            <th>
                Назначение платежа
            </th>
        </tr>
        
        @for (int i = 0; i < Model.Count; i++)
        {
            @Html.HiddenFor(m => m[i].Id)
            <tr>
                <td>
                    @Html.DisplayFor(m => m[i].Sum)
                </td>
                <td>
                    @Html.DisplayFor(m => m[i].Recipient)
                </td>
                <td>
                    @Html.DisplayFor(m => m[i].CodeEgrpou)
                </td>
                <td>
                    @Html.DisplayFor(m => m[i].CodeIban)
                </td>
                <td>
                    @Html.DisplayFor(m => m[i].Purpose)
                </td>
                <td>
                    @Html.RouteLink("Отклонить", new { controller = "Payment", action = "RejectPayment", id = Model[i].Id })
                </td>
            </tr>
        }
    </table>
    if (Model.Count != 0)
    {
        <input type="submit" value="Подтвердить оплату" />
    }
}